@model CUBE.Models.Salarie
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Salarie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="SalarieId" class="control-label"></label>
                <input asp-for="SalarieId" class="form-control" hidden />
                <span asp-validation-for="SalarieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneFixe" class="control-label"></label>
                <input asp-for="TelephoneFixe" class="form-control" />
                <span asp-validation-for="TelephoneFixe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephonePortable" class="control-label"></label>
                <input asp-for="TelephonePortable" class="form-control" />
                <span asp-validation-for="TelephonePortable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <select asp-for="Site.SiteId" class="form-control" asp-items="@ViewBag.Sites"></select>
            </div>
            <div class="form-group">
                <label asp-for="Service" class="control-label"></label>
                <select asp-for="Service.ServiceId" class="form-control" asp-items="@ViewBag.Services"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
